{% extends 'base.html' %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
    <h2>Our Mission</h2>
    <p>Our core mission is to empower individuals with the tools they need to manage their healthcare effectively, making processes like scheduling appointments and managing prescriptions more accessible.</p>
    <br><br>
    <h2>Meet Our Team</h2>
    <p>Our team is comprised of software engineers from the University of Florida including Ashish Narne, Kai Blahnik, Trey Kolos, and Andrew Argyrakis.</p>
    <br><br>
    <h2>Our Values</h2>
    <ul>
        <li>Empowerment through Information</li>
        <li>Innovation in Healthcare</li>
        <li>Integrity and Privacy</li>
        <li>Accessibility for Everyone</li>
        <li>Community and Support</li>
    </ul>
    <br><br>
    <h2>Contact Us</h2>
    <p>For any problems with the service, create an issue on our <a href="https://github.com/AshishNarne/HealthHarbor" target="_blank">GitHub</a> page and our team will assist you. Thank you for using HealthHarbor!</p>
    {% endblock %}
