{% extends 'base.html' %}

{% block title %}
    Add a Patient
{% endblock %}

{% block content %}
    {% with title='Add a Patient' %}
        {% include 'search_patient_form.html' %}
    {% endwith %}
    <ul>
        {% for patient in patients %}
            <li>
                <form action="{{ url_for('pages.request_patient' ) }}" method=post>
                    <input type='hidden' name='patient_id' value='{{patient.id}}'>
                    <input type='hidden' name='doctor_id' value='{{current_user.id}}'>
                    <button>
                        {{patient.fname}} {{patient.lname}} {{patient.email}}
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}