{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Welcome to HealthHarbor!</h1>
    <br><br>
    <p>The HealthHarbor application seeks to simplify the appointment and prescritption process by connecting doctors and patients.</p>
    <br><br>
    <h2>Utilities</h2>
    <ul>
        <li>Schedule and manage appointments.</li>
        <li>Request and assign prescriptions.</li>
        <li>View and edit your personal medical record.</li>
        <li>Keep track of important dates through the calendar.</li>
        <li>Enable notifications to be reminded to take prescriptions.</li>
    </ul>
    <br><br>
    <h2>About Us</h2>
    <p>Learn more about our team and mission on the <a href="/about">About Us</a> page.</p>
    <br><br>
    {% if not current_user.is_authenticated %}
        <h2>New Users</h2>
        <p>Create a HealthHarbor account on the <a href="/signup">Signup</a> page.</p>
        <br><br>
        <h2>Existing Users</h2>
        <p>Login to your HealthHarbor account on the <a href="/login">Login</a> page.</p>
    {% endif %}
{% endblock %}
