{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <section class='login'>
        <form class='login-form' method='post'>
            <div>
                <label for='username'>Username</label>
                <input name='username' type='text' placeholder='Username'/>
            </div>
            <div>
                <label for='pwd'>Password</label>
                <input name='pwd' type='password' placeholder='Password'/>
            </div>
            <button>Log in</button>
        </form>
    </section>
{% endblock %}
