{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <section class='login'>
        <form class='login-form' method='post' autocomplete='off'>
            <div>
                <label for='email'>Email</label>
                <input name='email' type='text' placeholder='Email'/>
            </div>
            <div>
                <label for='pwd'>Password</label>
                <input name='pwd' type='password' placeholder='Password'/>
            </div>
            <div>
                <label for='remember'>Remember Me</label>
                <input name='remember' type='checkbox'/>
            </div>
            <button>Log in</button>
        </form>
    </section>
{% endblock %}
