{% extends '_form.html' %}

{% block form_content %}
    <div>
        <label for='date'>Date</label>
        <input name='date' type='date' required/>
    </div>
    <div>
        <label for='time'>Time</label>
        <input name='time' type='time' required/>
    </div>
    <div>
        <label for='title'>Title</label>
        <input name='title' type='text' placeholder='Title' required/>
    </div>
    <div>
        <label for='desc'>Description</label>
        <input name='desc' type='text' placeholder='Description'/>
    </div>
    <button>Add Reminder</button>
{% endblock %}
