{% extends '_form.html' %}

{% block form_content %}
<h1 class="login-title">Login</h1>
    <div>
        <input name='email' type='text' placeholder='Email' style="width: 300px;"/>
    </div>
    <div>
        <input name='pwd' type='password' placeholder='Password' style="width: 300px;"/>
    </div>
    <div>
        <label for='remember'>Remember Me</label>
        <input name='remember' type='checkbox'/>
    </div>
    <a href="/verify_email" style="color: #F0F8FF;">Forget Password?</a>
    <button>Log in</button>
{% endblock %}
