{% extends '_form2.html' %}

{% block form_content %}
-----------------------------------------------
<div>
        <label for='height'>Input Height:</label>
        <input name='height' type='text' placeholder='Height'/>
    </div>
    <div>
        <label for='weight'>Input Weight:</label>
        <input name='weight' type='text' placeholder='Weight'/>
    </div>
    <div>
        <label for='allergies'>Input Allergies:</label>
        <input name='allergies' type='text' placeholder='Allergies'/>
    </div>
    <div>
        <label for='blood_type'>Input Blood Type:</label>
        <input name='blood_type' type='text' placeholder='Blood Type'/>
    </div>
    <div>
        <label for='blood_pressure'>Input Blood Pressure:</label>
        <input name='blood_pressure' type='text' placeholder='Blood Pressure'/>
    </div>
    <div>
        <label for='past_medicine'>Input Past Medicine:</label>
        <input name='past_medicine' type='text' placeholder='Past Medicine'/>
    </div>
    <button type="submit">Save</button>
{% endblock %}
