{% extends 'put_form.html' %}

{% block form_content %}
-----------------------------------------------
<div>
        <label for='height'>Height</label>
        <input name='height' type='text' placeholder='Height'/>
    </div>
    <div>
        <label for='weight'>Weight</label>
        <input name='weight' type='text' placeholder='Weight'/>
    </div>
    <div>
        <label for='allergies'>Allergies</label>
        <input name='allergies' type='text' placeholder='Allergies'/>
    </div>
    <div>
        <label for='blood_type'>Blood Type</label>
        <input name='blood_type' type='text' placeholder='Blood Type'/>
    </div>
    <div>
        <label for='blood_pressure'>Blood Pressure</label>
        <input name='blood_pressure' type='text' placeholder='Blood Pressure'/>
    </div>
    <div>
        <label for='past_medicine'>Past Medicine</label>
        <input name='past_medicine' type='text' placeholder='Past Medicine'/>
    </div>
    <button type="submit">Save</button>
{% endblock %}