{% extends '_form.html' %}

{% block form_content %}
    <div>
        <label for='email'>Email</label>
        <input name='email' type='text' placeholder='Email'/>
    </div>
    <div>
        <label for='fname'>First Name</label>
        <input name='fname' type='text' placeholder='First Name'/>
    </div>
    <div>
        <label for='lname'>Last Name</label>
        <input name='lname' type='text' placeholder='Last Name'/>
    </div>
    <div>
        <label for='pwd'>Password</label>
        <input name='pwd' type='password' placeholder='Password'/>
    </div>
    <div>
        <label for='doctor'>Are you a doctor?</label>
        <input name='doctor' type='checkbox'/>
    </div>
    <button>Sign up</button>
{% endblock %}