:root {
    --clr-dark: #0F0F0F;
    --clr-accent1: #232D3F;
    --clr-accent2: #005B41;
    --clr-accent3: #008170;
    --clr-light: #FAF0E6;
    font-family: 'Roboto';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    height: 100%;
}

main {
    padding: 1rem;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000000;
    text-align: center;
    padding: 12px;
}

header {
    text-decoration: none;
    color: inherit;
    cursor: default;
    padding-top: 16px;
    background-color: var(--clr-accent1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body header h1 a {
    text-decoration: none;
    color: inherit;
    background-color: var(--clr-accent1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a:hover {
    background-color: rgba(0,0,0,0.1);
}

header > * {
    margin: 0 1rem;
}

nav {
    margin: 0;
    padding: 1rem;
    justify-self: flex-end;
}

nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}

nav > ul > li {
    margin: 0 1rem;
}

nav a:hover {
    color: var(--clr-accent3);
}

nav a {
    text-decoration: none;
    color: var(--clr-light);
}

.signup-title {
    text-align: center;
    font-size: 30px;
}

.login-title {
    text-align: center;
    font-size: 30px;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-accent1);
    padding: 1rem 5.5rem 3rem;
    border-radius: 1rem;
}

.login-form > * {
    margin: .7rem;
}

.profile-form {
    width: 33%;
    flex-direction: column;
    background-color: var(--clr-accent1);
    padding: 1rem;
    border-radius: 1rem;
}

.flashed-messages {
    background-color: red;
}

.calendar {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 100%;
}

.day {
    flex-basis: 100%;
    padding: .5rem;
    border: 2px solid var(--clr-light);
}

.day-title {
    text-align: center;
}

.reminder {
    background-color: var(--clr-accent1);
    margin: .5rem;
    padding: .5rem;
    list-style-type: none;
    border-radius: .5rem;
}

.reminder-title {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.25rem;
}

.month {
    font-size: 2em;
}

.weekday-list {
    list-style-type: none;
}

.dm-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dm-container {
    background-color: var(--clr-accent1);
    width: 40%;
    padding: 1em;
    border-radius: .5em;
}

.dm-list {
    list-style-type: none;
    max-height: 25em;
    overflow-y: auto;
}

.dm-message {
    max-width: 40%;
    padding: .5em;
    border-radius: .5em;
    margin: .2em 0;
}

.left {
    background-color: var(--clr-accent2);
    margin-left: 1em;
    margin-right: auto;
}

.right {
    background-color: var(--clr-accent3);
    margin-left: auto;
    margin-right: 1em;
}

.send-dm-input {
    margin-top: 1em;
    float: right;
}
